<div class="container">
  <hr>
  <ul class="nav nav-pills flex-column list-group">
    <li class="nav-item">
      <a href="{% url 'task:task-list' %}" id="Home" class="nav-link list-group-item list-group-item-action">
        Home
      </a>
    </li>
    <li class="nav-item">
      <a href="{% url 'task:tag-list' %}" id="Tags" class="nav-link list-group-item list-group-item-action">
        Tags
      </a>
    </li>
  </ul>
  <script>
    if (window.location.pathname === "/"){
        document.getElementById("Home").className += " active";
    }
    if (window.location.pathname === "/tags/"){
        document.getElementById("Tags").className += " active";
    }
  </script>
  <hr>
{#  <div class="dropdown">#}
{#    <a href="{{ user.get_absolute_url }}" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">#}
{#      <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">#}
{#      <strong>{{ user.get_username }}</strong>#}
{#    </a>#}
{#    <ul class="dropdown-menu text-small shadow">#}
{#      {% if user.is_authenticated %}#}
{#        <li><a class="dropdown-item" href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>#}
{#      {% else %}#}
{#        <li><a class="dropdown-item" href="{% url 'login'%}?next={{request.path}}">Login</a></li>#}
{#      {% endif %}#}
{#    </ul>#}
{#  </div>#}
</div>
